@page
@model DSVBooking.Pages.FormModel
@{
}
<link href="~/css/form.css" rel="stylesheet" />


<body>
    <container-sm>
        <div class="text-center">
            <h1>Book lokale</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
    <form method="post">
        <div class="form-group">
            <label for="inputDateTime"></label>
                        <input type="datetime-local" asp-for="Booking.StartDateTime" id="StartDateTime" aria-describedby="dateTimeHelp" placeholder="Enter Date/Time" step="3600">
                        <input type="datetime-local" asp-for="Booking.EndDateTime" id="EndDateTime" aria-describedby="dateTimeHelp" placeholder="Enter end time" step="3600" />
        </div>
            <div class="form-group mt-2">
                        <select asp-for="Booking.RoomID" id="Lokale">
                            <option value="0">Select a room</option>
                            <option value="1">Alpha</option>
                            <option value="2">Beta</option>
                            <option value="3">Charlie</option>
                            <option value="4">Delta</option>
                            <option value="5">Echo</option>
                            <option value="6">Foxtrot</option>
                        </select>
                <label for="inputComment"></label>
                <input type="text" asp-for="Booking.Comment" id="inputForm" aria-describedby="textHelp" placeholder="Enter a comment" >
                <small id="commentHelp" class="form-text text-muted mt-5">Enter any comments or special requests for the staff here.  </small>
            </div>
        <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
    </<div>
    </div>
    </container-sm>
    <script> 
        var rooms=document.getElementById("Lokale");
            rooms.value=getQueryParameter("roomname");
        var date = document.getElementById("StartDateTime");
           date.Value = getQueryParameter("roomdate");
        var endDate = document.getElementById("EndDateTime");

        var roomDateValue = getQueryParameter("roomdate");
            console.log("d");
        if (date && roomDateValue) {
            let parsedDate = new Date(roomDateValue);
        parsedDate.setMinutes(parsedDate.getMinutes() - parsedDate.getTimezoneOffset());
         const d = new Date();
        let hour = d.getHours();
             var curent = addHours(parsedDate,hour)

              date.value = curent.toISOString().slice(0, 16);
              var aftercurent = addHours(curent,1)
                 endDate.value= aftercurent.toISOString().slice(0, 16);
        }
                 
     function getQueryParameter(name) {

          const urlParams = new URLSearchParams(window.location.search);
             
           
          return urlParams.get(name);

      }

      function addHours(date, hours) {
          const hoursToAdd = hours * 60 * 60 * 1000;
          date.setTime(date.getTime() + hoursToAdd);
          return date;
        }
         
        


    </script>
</body>