@page
@model DSVBooking.Pages.FormModel
@{
}
<body>
    <form>
        <div class="form-group">
            <label for="inputDateTime"></label>
            <input type="datetime" class="form-control" id="inputDateTime" aria-describedby="dateTimeHelp" placeholder="Enter Date/Time">
            <small id="emailHelp" class="form-text text-muted">Enter Date and time for your booking here</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>