@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome EGIL WAS HERE</h1>
    <h1>Markus was here</h1>
    <h1>Marcus was here</h1>
<<<<<<< HEAD
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core martin var her!!!</a>.</p>
=======
    <h1>Marcus was here</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> bd57d28a2894826f52bf1d87e750cda9bea7ec78
</div>
