@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="text-center">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <button class="btn btn-outline-primary">
                            <i class="bi bi-x-lg"></i> Se Booking
                        </button>
                    </div> 
                 </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <button class="btn btn-danger">
                            <i class="bi bi-x-lg"></i> Lav Booking
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--TEST-->
    <div class="container">
        <div class="row row-cols-3">
    @foreach (var room in Model.Rooms)
    {
        <div class="col">
            <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">@room.Name</h5>
                            <p class="card-text"><i>@room.Capacity</i> personer.</p>
                        <div class="d-flex justify-content-end gap-3">
                                <button class="btn btn-outline-primary" title="Book">
                                <i class="bi bi-x-lg"></i> Book Rum
                            </button>                            
                        </div>
                    </div>
                </div>
            </div>  
    }
   

</div>
    </div>
</div>
