@page
@model DSVBooking.Pages.testModel
@{
}
<form method="post" asp-page="/test" asp-page-handler="Load">
    <input type="text" name="upassende" value="abc" />
    <button type="submit">ok</button>
</form>